.chara-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  grid-gap: 10px;
  .img {
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
pcr-ellipsis-text {
  max-width: none;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  &-action {
    // justify-content: flex-end;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    .ant-btn:not(:first-child) {
      margin-left: 10px;
    }
    @media (max-width: 50em) {
      flex-direction: column-reverse;
      & > :not(:last-child) {
        margin-top: 1em;
      }
    }
  }

  .ant-form-item {
    margin-right: 16px;
  }

  .filter {
    border: none;
    color: #ffffff;
    background: #f55291;
    min-width: 68px;
  }
}

.custom {
  &-panel {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(100, 184, 255, 0.5);
    border-radius: 10px;
  }
}

::ng-deep {
  .ant-collapse .ant-collapse-item-disabled > .ant-collapse-header,
  .ant-collapse .ant-collapse-item-disabled > .ant-collapse-header > .arrow {
    cursor: pointer;
  }
}

.right {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  a {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 500px) {
  .right {
    display: none;
  }
}
