<pcr-un-have-chara [serverType]="serverType"></pcr-un-have-chara>

<div class="g-card" style="margin-top: 16px; position: relative">
  <h3 class="g-card-title">{{ gvgPage.title }}</h3>
  <nz-spin [nzSpinning]="isSpinning" [nzTip]="commonPage.loading">
    <form nz-form class="form">
      <nz-form-item>
        <nz-form-label>{{ commonPage.server }}</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="serverType"
            name="serverType"
            [nzDisabled]="operate"
            (ngModelChange)="toggleServer()"
            style="min-width: 90px">
            <nz-option
              *ngFor="let item of gvgPage.serverOption"
              [nzLabel]="item.label"
              [nzValue]="item.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>{{ gvgPage.period }}</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="clanBattleId"
            (ngModelChange)="battleIdChange($event)"
            style="min-width: 110px"
            name="clanBattleId">
            <nz-option
              *ngFor="let item of clanBattleList"
              [nzValue]="item.clanBattleId"
              [nzLabel]="item.startTime | date: 'yyyy/MM'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>{{ gvgPage.stage }}</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="stage" name="stage" nzPlaceHolder="请选择" style="min-width: 90px">
            <nz-option *ngFor="let item of stageOption" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzTooltipTitle="筛选尾刀/已使用/已去除">{{ gvgPage.category }}</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="taskType"
            (ngModelChange)="toggleAutoBoss()"
            nzMode="multiple"
            name="taskType"
            style="min-width: 90px">
            <nz-option nzValue="all" [nzLabel]="gvgPage.all"></nz-option>
            <nz-option nzValue="used" [nzLabel]="gvgPage.used"></nz-option>
            <nz-option nzValue="removed" [nzLabel]="gvgPage.removed"></nz-option>
            <nz-option nzValue="tail" [nzLabel]="gvgPage.tail"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>{{ commonPage.auto }}</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="autoSetting"
            (ngModelChange)="toggleAutoBoss()"
            nzMode="multiple"
            name="autoSetting"
            nzPlaceHolder="请选择"
            style="min-width: 80px">
            <nz-option [nzValue]="CanAutoType.manual" [nzLabel]="commonPage.manual"></nz-option>
            <nz-option [nzValue]="CanAutoType.harfAuto" [nzLabel]="commonPage.semiAutomatic"></nz-option>
            <nz-option [nzValue]="CanAutoType.auto" [nzLabel]="commonPage.auto"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>BOSS</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="bossNumberList"
            (ngModelChange)="toggleAutoBoss()"
            nzMode="multiple"
            name="boss"
            nzPlaceHolder="请选择"
            style="min-width: 90px">
            <nz-option [nzValue]="1" nzLabel="1"></nz-option>
            <nz-option [nzValue]="2" nzLabel="2"></nz-option>
            <nz-option [nzValue]="3" nzLabel="3"></nz-option>
            <nz-option [nzValue]="4" nzLabel="4"></nz-option>
            <nz-option [nzValue]="5" nzLabel="5"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <div class="g-flex form-action">
        <div>
          <button (clickStop)="openNotice()" class="g-btn-danger" nz-button>
            {{ gvgPage.readNotice }}
          </button>
          <button (clickStop)="openAll()" class="g-btn" nz-button>
            {{ gvgPage.openAll }}
          </button>
          <button (clickStop)="openBoss()" class="g-btn" nz-button>
            {{ gvgPage.openBoss }}
          </button>
          <button (clickStop)="closeAll()" class="g-btn" nz-button>
            {{ gvgPage.closeAll }}
          </button>
        </div>

        <div class="g-flex">
          <button
            *ngIf="serverType !== 'cn'"
            class="g-btn"
            nz-button
            [nzLoading]="searchLoading"
            (clickStop)="getGvgTaskList()">
            {{ gvgPage.search }}
          </button>
          <button
            *ngIf="serverType === 'tw'"
            class="g-btn"
            nz-button
            [nzLoading]="searchLoading"
            (clickStop)="getGvgTaskList('jp')">
            搜索日服当期
          </button>
          <button (clickStop)="addTask()" *ngIf="operate" class="g-btn" nz-button>添加作业</button>
          <button
            (clickStop)="updateCnTask()"
            [nzLoading]="updateCnTaskLoading"
            *ngIf="operate && serverType === 'cn'"
            class="g-btn"
            nz-button>
            更新作业
          </button>
          <button class="g-btn filter" [nzLoading]="filterLoading" nz-button (clickStop)="filter()">
            {{ gvgPage.combine }}
          </button>
        </div>
      </div>
    </form>
  </nz-spin>

  <pcr-billboard
    *ngIf="!filterGvgTaskList.length"
    [serverType]="serverType"
    [content]="notice?.content"
    [showLink]="showLink"></pcr-billboard>

  <nz-collapse [nzBordered]="false" nzExpandIconPosition="right">
    <nz-collapse-panel
      #collapse
      [nzActive]="true"
      class="custom-panel"
      *ngFor="let bossTask of filterGvgTaskList; trackBy: trackByBossFn"
      [nzHeader]="headerTpl">
      <ng-template #headerTpl>
        <div class="g-flex-between" [attr.id]="setAnchor(bossTask)">
          <div class="g-flex" style="align-items: center">
            <pcr-icon style="margin: 0 40px" [unit]="bossTask"></pcr-icon>
            <div>{{ bossTask.unitName }}</div>
          </div>
        </div>
      </ng-template>

      <div *ngIf="bossTask.tasks.length">
        <nz-collapse [nzBordered]="false" nzExpandIconPosition="right">
          <nz-collapse-panel
            [nzActive]="false"
            style="border-top: 1px solid #64b8ff; background: rgba(255, 255, 255, 0.5)"
            *ngFor="let task of bossTask.tasks; trackBy: trackByTaskFn"
            [nzHeader]="childHeaderTpl">
            <ng-template #childHeaderTpl>
              <pcr-task-item
                [task]="task"
                [usedList]="usedList"
                [removedList]="removedList"
                [operate]="operate"
                [serverType]="serverType"
                (onAddTask)="addTask($event, bossTask.id)"
                (onDelete)="onTaskDelete($event, bossTask)"></pcr-task-item>
            </ng-template>

            <div *ngIf="task.remarks" class="g-card" style="margin: 16px 0">
              <h6>{{ commonPage.remark }}:</h6>
              <pre>{{ task.remarks }}</pre>
            </div>

            <pcr-link [links]="task.links"></pcr-link>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </nz-collapse-panel>
  </nz-collapse>

  <div class="right">
    <a
      [href]="getAnchor(bossTask)"
      *ngFor="let bossTask of filterGvgTaskList; trackBy: trackByBossFn"
      style="margin-bottom: 20px">
      <pcr-icon [unit]="bossTask"></pcr-icon>
    </a>
  </div>
</div>
