<header class="header">
  <div class="g-flex" (click)="toHome()">
    <img class="header-img" src="https://pcr-icon.oss-cn-beijing.aliyuncs.com/common/loading.gif" alt="" />
    <div class="header-title">公主连结公会战</div>
  </div>

  <div style="color: red; font-weight: bold; font-size: 18px">公会战作业网APP可到首页扫码下载</div>

  <div class="g-flex">
    <div class="g-flex" nz-dropdown style="color: #1385e5; margin-right: 16px" [nzDropdownMenu]="menu">
      <i nz-icon nzType="global" nzTheme="outline"></i>
      <span style="padding: 0 5px">{{ language }}</span>
      <i nz-icon nzType="down"></i>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li *ngFor="let item of dropMenu" (clickStop)="changeLanguage(item)" nz-menu-item>{{ item.label }}</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <!-- <div class="header-btn" (clickStop)="clearStorage()" style="color: #f55291">
      {{ header.cache }}
    </div> -->
    <i
      nz-icon
      class="header-btn"
      (clickStop)="clearStorage()"
      style="color: #f55291"
      nzType="setting"
      nzTheme="outline"></i>
    <i class="header-btn" style="color: #eb2f96" nz-icon nzType="star" nzTheme="fill" (clickStop)="toCollection()"></i>
    <i class="header-btn" nz-icon nzType="question-circle" nzTheme="outline" (clickStop)="toAbout()"></i>

    <pcr-github-btn style="margin-left: 5px"></pcr-github-btn>
  </div>
</header>

<div style="height: 60px"></div>

<ng-template #clearTpl let-ref="modalRef">
  <h3 class="g-card-title">清除本地缓存</h3>
  <div style="border-bottom: 1px solid rgb(233, 233, 233)">
    <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">
      全部
    </label>
  </div>
  <br />
  <nz-checkbox-group [(ngModel)]="checkOptions" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>

  <div class="g-flex" style="margin-top: 20px; justify-content: center">
    <button nz-button (clickStop)="ref.destroy()">取消</button>
    <button style="margin-left: 16px" nz-button class="g-btn" (clickStop)="storageClear()">确定</button>
  </div>
</ng-template>
