.header {
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid var(--primary);
  display: flex;
  padding: 0 28px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  &-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &-title {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
  }

  &-btn {
    font-weight: 400;
    color: #1385e5;
    cursor: pointer;
    font-size: 16px;
  }
}
