<div style="max-width: 80vw">
  <h3 class="g-card-title" style="font-weight: bold">{{ gvgPage.unHave }}</h3>
  <div class="g-flex box">
    <div class="chara-box">
      <pcr-icon
        class="img"
        style="opacity: 1"
        *ngFor="let chara of unHaveCharas; trackBy: trackByCharaFn"
        [unit]="chara"
        (clickStop)="toggleSelect(chara)"></pcr-icon>
    </div>
  </div>
  <nz-tabset>
    <nz-tab nzTitle="所有" (nzClick)="talentId = 0"></nz-tab>
    <nz-tab *ngFor="let tab of talentOption" [nzTitle]="titleTemplate" (nzClick)="talentId = tab.code">
      <ng-template #titleTemplate>
        <!-- <i nz-icon [nzType]="tab.icon"></i> -->
        <img [src]="redive.addTalentUrl(tab.code)" style="width: 30px; height: 30px;">
      
      </ng-template>
    </nz-tab>
  </nz-tabset>
  
  <nz-tabset>
    <nz-tab [nzTitle]="gvgPage.front">
      <div class="chara-box">
        <pcr-icon
          class="img"
          *ngFor="let chara of front; trackBy: trackByCharaFn"
          [class.selected]="isSelected(chara)"
          [unit]="chara"
          (clickStop)="toggleSelect(chara)"></pcr-icon>
      </div>
    </nz-tab>
    <nz-tab [nzTitle]="gvgPage.middle">
      <div class="chara-box">
        <pcr-icon
          class="img"
          *ngFor="let chara of middle; trackBy: trackByCharaFn"
          [class.selected]="isSelected(chara)"
          (clickStop)="toggleSelect(chara)"
          [unit]="chara"></pcr-icon>
      </div>
    </nz-tab>
    <nz-tab [nzTitle]="gvgPage.back">
      <div class="chara-box">
        <pcr-icon
          class="img"
          *ngFor="let chara of back; trackBy: trackByCharaFn"
          [class.selected]="isSelected(chara)"
          (clickStop)="toggleSelect(chara)"
          [unit]="chara"></pcr-icon>
      </div>
    </nz-tab>
  </nz-tabset>

  <div class="g-flex-center" style="margin-top: 30px">
    <button (clickStop)="confirm()" nz-button class="g-btn">{{ gvgPage.confirm }}</button>
  </div>
</div>
