.scroll {
  width: 100%;
  margin: 0 auto 0;
  height: 600px;
  &-item {
    padding: 10px 5px;
    // border-bottom: 1px solid var(--primary);
    background: #eee;
    margin-bottom: 10px;
    border-radius: 6px;
  }
}

.boss {
  flex-wrap: wrap;
}
