.scroll {
    width: 100%;
    margin: 0 auto 0;
    height: 600px;
    &-item {
      margin-bottom: 20px;
      border-bottom: 1px solid var(--primary);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      > div {
        flex-shrink: 0;
      }
      .remarks {
        height: 500px;
        overflow: auto;
      }
      &-link {
        height: 50px;
      }
    }
  }

  .divide {
    margin: 16px 0;
    height: 1px;
    background: var(--primary);
  }

  .item{
    &:not(:last-child) {
      margin-right: 10px;
    }
  }