<div class="default">
  <app-header></app-header>
  <!-- head -->
  <div class="ad-wrapper">
    <ins
      class="adsbygoogle"
      style="display: inline-block; width: 728px; height: 90px"
      data-ad-client="ca-pub-3729236646142718"
      data-ad-slot="5522786541"
    ></ins>
  </div>

  <section>
    <aside></aside>
    <div class="center"><router-outlet></router-outlet></div>
    <aside></aside>
  </section>

  <div class="ad-wrapper">
    <ins
      class="adsbygoogle"
      style="display: inline-block; width: 728px; height: 300px"
      data-ad-client="ca-pub-3729236646142718"
      data-ad-slot="7283913595"
    ></ins>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
