.default {
  background: url('https://pcr-icon.oss-cn-beijing.aliyuncs.com/common/bg.png') no-repeat;
  // background: url('https://cdn.jsdelivr.net/gh/pcrgvg/gvg_front@master/statics/static/assets/images/bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
  section {
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 0;
  }

  .ad-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
