

.default{
  background: url('https://pcr-icon.oss-cn-beijing.aliyuncs.com/common/bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  section {
    height: calc(100vh - 60px);
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    grid-template-columns: 1fr 990px 1fr;
    padding: 20px 0;
  
  }
}