

.default{
  background: url('/assets/images/bg.png') no-repeat;
  background-size: cover;

  section {
    height: calc(100vh - 60px);
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    grid-template-columns: 1fr 990px 1fr;
    padding: 30px 0;
  
  }
}