<h3 class="g-card-title">阵容</h3>
<div class="chara-box" style="margin-bottom: 16px; height: 100px">
  <div class="g-flex-column" *ngFor="let chara of selectCharas; trackBy: trackByCharaFn">
    <pcr-icon
      class="img"
      style="border: none"
      [class.selected]="isSelected(chara)"
      [unit]="chara"
      (clickStop)="toggleSelect(chara)"></pcr-icon>
    <pcr-rarity-select [maxRarity]="chara.rarity" [(ngModel)]="chara.currentRarity"></pcr-rarity-select>

    <nz-select [(ngModel)]="chara.rank" nzPlaceHolder="请选择">
      <nz-option *ngFor="let item of rankOption" [nzValue]="item" [nzLabel]="item"></nz-option>
    </nz-select>
  </div>
  <div class="g-flex-column">
    <pcr-icon class="img" style="border: none" [unit]="commonChara"></pcr-icon>
    <pcr-rarity-select [maxRarity]="commonChara.rarity" [(ngModel)]="commonChara.currentRarity"></pcr-rarity-select>

    <nz-select [(ngModel)]="commonChara.rank" nzPlaceHolder="请选择" (ngModelChange)="changeAllRank()">
      <nz-option *ngFor="let item of rankOption" [nzValue]="item" [nzLabel]="item"></nz-option>
    </nz-select>
  </div>
</div>

<form class="g-flex" style="flex-wrap: wrap" *ngIf="validateForm" nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label>BOSS</nz-form-label>
    <nz-form-control>
      <nz-select
        formControlName="bossId"
        [nzCustomTemplate]="defaultTemplate"
        name="bossId"
        nzPlaceHolder="请选择"
        style="min-width: 200px">
        <nz-option *ngFor="let item of bossList" [nzValue]="item.id" nzCustomContent [nzLabel]="item.unitName">
          <div class="g-flex">
            <pcr-icon style="flex-shrink: 0" [unit]="item"></pcr-icon>
            <span style="margin-left: 5px">{{ item.unitName }}</span>
          </div>
        </nz-option>
      </nz-select>
      <ng-template #defaultTemplate let-selected>
        <div class="g-flex">
          <pcr-icon style="width: 20px; height: 20px; flex-shrink: 0" [unit]="currentBoss"></pcr-icon>
          <span style="margin-left: 5px">{{ selected.nzLabel }}</span>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>阶段</nz-form-label>
    <nz-form-control>
      <nz-select formControlName="stage" name="stage" nzPlaceHolder="请选择" style="min-width: 90px">
        <nz-option *ngFor="let item of stageOption" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>自动</nz-form-label>
    <nz-form-control>
      <!-- [nzMaxMultipleCount]="1"
      nzMode="multiple" -->
      <nz-select
        formControlName="canAuto"
        nzMode="multiple"
        name="canAuto"
        nzPlaceHolder="请选择"
        style="min-width: 90px">
        <nz-option *ngFor="let item of autoOption" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="showAutoDamage">
    <nz-form-label>自动伤害</nz-form-label>
    <nz-form-control>
      <nz-input-group nzSuffix="W" style="width: 100px">
        <input name="autoDamage" formControlName="autoDamage" type="number" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="showHalfAutoDamage">
    <nz-form-label>半自动伤害</nz-form-label>
    <nz-form-control>
      <nz-input-group nzSuffix="W" style="width: 100px">
        <input name="halfAutoDamage" formControlName="halfAutoDamage" type="number" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="showManualDamage">
    <nz-form-label>手动伤害</nz-form-label>
    <nz-form-control>
      <nz-input-group nzSuffix="W" style="width: 100px">
        <input name="damage" formControlName="damage" type="number" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="showEasyManualDamage">
    <nz-form-label>简易手动伤害</nz-form-label>
    <nz-form-control>
      <nz-input-group nzSuffix="W" style="width: 100px">
        <input name="easyManualDamage" formControlName="easyManualDamage" type="number" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>尾刀</nz-form-label>
    <nz-form-control>
      <nz-select formControlName="type" name="type" nzPlaceHolder="请选择" style="min-width: 90px">
        <nz-option [nzValue]="2" nzLabel="否"></nz-option>
        <nz-option [nzValue]="1" nzLabel="是"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="g-flex" style="align-items: center">
  <span class="g-card-title" style="width: 78px">视频链接</span>

  <i
    nz-icon
    (clickStop)="openAddLink()"
    nzType="plus-circle"
    nzTheme="outline"
    style="color: #68b9ff; font-size: 20px; cursor: pointer"></i>
</div>

<div class="g-flex" style="min-height: 50px; padding: 10px 0; flex-wrap: wrap">
  <a style="margin-right: 10px" *ngFor="let item of links; index as i" [href]="item.link" target="_blank">
    <pre style="text-align: center">{{ item.name }}</pre>
  </a>
</div>

<div>
  <div class="g-card-title" style="width: 78px">额外备注</div>
  <nz-textarea-count [nzMaxCharacterCount]="30">
    <textarea
      style="margin: 16px 0"
      [(ngModel)]="exRemarks"
      nz-input
      placeholder="暂时最大长度为30"
      [maxlength]="30"></textarea>
  </nz-textarea-count>
</div>

<div>
  <div class="g-card-title">备注</div>
  <textarea
    style="margin: 16px 0"
    [(ngModel)]="remarks"
    nz-input
    placeholder="可以回车换行"
    [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
</div>

<nz-tabset>
  <nz-tab nzTitle="前卫">
    <div class="chara-box">
      <pcr-icon
        class="img"
        *ngFor="let chara of rediveDataSrv.front; trackBy: trackByCharaFn"
        [class.selected]="isSelected(chara)"
        [unit]="chara"
        (clickStop)="toggleSelect(chara)"></pcr-icon>
    </div>
  </nz-tab>
  <nz-tab nzTitle="中卫">
    <div class="chara-box">
      <pcr-icon
        class="img"
        *ngFor="let chara of rediveDataSrv.middle; trackBy: trackByCharaFn"
        [class.selected]="isSelected(chara)"
        (clickStop)="toggleSelect(chara)"
        [unit]="chara"></pcr-icon>
    </div>
  </nz-tab>
  <nz-tab nzTitle="后卫">
    <div class="chara-box">
      <pcr-icon
        class="img"
        *ngFor="let chara of rediveDataSrv.back; trackBy: trackByCharaFn"
        [class.selected]="isSelected(chara)"
        (clickStop)="toggleSelect(chara)"
        [unit]="chara"></pcr-icon>
    </div>
  </nz-tab>
</nz-tabset>

<div class="g-flex-center" style="margin-top: 30px">
  <button (clickStop)="reset()" nz-button class="g-btn-danger">重新选择</button>
  <button style="margin-left: 30px" [nzLoading]="loading" (clickStop)="confirm()" nz-button class="g-btn">确定</button>
</div>

<ng-template #addLinks>
  <div>
    <div class="link-grid" style="color: #68b9ff">
      <span nz-tooltip nzTooltipTitle="拖动序号可进行排序">
        序号
        <i nz-icon nzType="question-circle" nzTheme="outline"></i>
      </span>
      <span>名称</span>
      <span>链接</span>
      <span>类型</span>
      <span>备注/轴</span>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="link-list">
      <div class="link-grid" *ngFor="let item of links; index as i" cdkDrag>
        <div class="drag-placeholder" *cdkDragPlaceholder></div>
        <span style="cursor: move" cdkDragHandle>{{ i }}</span>
        <textarea style="height: 90px" nz-input [(ngModel)]="item.name"></textarea>
        <input nz-input [(ngModel)]="item.link" placeholder="链接需要以http/https开头" />
        <nz-select [(ngModel)]="item.type" nzPlaceHolder="请选择" style="min-width: 90px">
          <nz-option *ngFor="let item of autoOption" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        </nz-select>
        <button nz-button nzType="text" (clickStop)="addLinkRemark(item)">编辑</button>
        <button nz-button class="g-btn-danger" (clickStop)="removeLink(i)">删除</button>
      </div>
    </div>

    <div class="g-flex-center" style="margin-top: 20px">
      <button nz-button class="g-btn" (clickStop)="addLink()">添加</button>
    </div>
  </div>
</ng-template>

<ng-template #linkRemark>
  <div>文字轴/备注</div>
  <textarea
    style="margin-top: 32px"
    [(ngModel)]="currentLink.remarks"
    nz-input
    placeholder="可以回车换行"
    [nzAutosize]="{ minRows: 4, maxRows: 10 }"></textarea>
</ng-template>
