:host {
  display: inline-flex;
  max-width: 80px;
}
.ellipsis {
  overflow: hidden;
  width: 100%;

  &-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
}
