<div mat-dialog-title style="display: flex;">
  <div style="flex-grow: 1;">
    <span>阵容</span>
    <div class="chara_box" style="height: 42px;">
      <app-pcr-icon
        *ngFor="let chara of dialogData.task.charas; trackBy: trackByCharaFn"
        [prefabId]="chara.prefabId"
        (clickStop)="toggleSelect(chara)"
      ></app-pcr-icon>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button color="accent" (clickStop)="reset()">重新选择</button>
    <button mat-button color="accent" (clickStop)="confirm(confirmType.unServer)">仅保存到本地</button>
    <button mat-button color="accent" (clickStop)="confirm(confirmType.server)">确定</button>
  </mat-dialog-actions>
</div>
<mat-dialog-content>
  <div>
    <form class="form" [formGroup]="validateForm">
      <mat-form-field>
        <mat-label>服务器</mat-label>
        <mat-select formControlName="server">
          <mat-option *ngFor="let server of serverOption" [value]="server.value">
            {{ server.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>boss</mat-label>
        <mat-select formControlName="bossId" required>
          <mat-option *ngFor="let boss of dialogData.bossList" [value]="boss.id">
            <app-pcr-icon [prefabId]="boss.prefabId"></app-pcr-icon>
            <span>{{ boss.unitName }}</span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="isError('bossId')">选择BOSS</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>阶段</mat-label>
        <mat-select formControlName="stage">
          <mat-option *ngFor="let stage of stageOption" [value]="stage.value">
            {{ stage.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>伤害</mat-label>
        <input matInput formControlName="damage" type="number" />
        <span matSuffix>W</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>自动</mat-label>
        <mat-select formControlName="canAuto">
          <mat-option *ngFor="let auto of autoOption" [value]="auto.value">
            {{ auto.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <div>
        <span style="opacity: 0.54; font-size: 12px; transform: scale(0.75);">链接</span>
        <div style="display: flex; align-items: center;">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip selected color="accent" *ngFor="let link of links; index as i" removable 
            (removed)="removeLink(i)">{{link.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          </mat-chip-list>
          <button mat-icon-button color="accent" (clickStop)="addLink()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div> -->
    </form>
  </div>

  <mat-tab-group dynamicHeight>
    <mat-tab label="前卫">
      <div class="chara_box">
        <app-pcr-icon
          class="img"
          *ngFor="let chara of front; trackBy: trackByCharaFn"
          [class.selected]="dialogData.task.charas?.includes(chara)"
          (clickStop)="toggleSelect(chara)"
          [prefabId]="chara.prefabId"
        ></app-pcr-icon>
      </div>
    </mat-tab>
    <mat-tab label="中卫">
      <div class="chara_box">
        <app-pcr-icon
          class="img"
          *ngFor="let chara of middle; trackBy: trackByCharaFn"
          [class.selected]="dialogData.task.charas?.includes(chara)"
          (clickStop)="toggleSelect(chara)"
          [prefabId]="chara.prefabId"
        ></app-pcr-icon>
      </div>
    </mat-tab>
    <mat-tab label="后卫">
      <div class="chara_box">
        <app-pcr-icon
          class="img"
          *ngFor="let chara of back; trackBy: trackByCharaFn"
          [class.selected]="dialogData.task.charas?.includes(chara)"
          (clickStop)="toggleSelect(chara)"
          [prefabId]="chara.prefabId"
        ></app-pcr-icon>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
