<div mat-dialog-title style="display: flex;">
  <div style="flex-grow: 1;">
    <span>阵容</span>
    <div class="chara_box" style="height: 42px;">
      <app-pcr-icon
        *ngFor="let chara of dialogData.task.charas; trackBy: trackByCharaFn"
        class="img"
        style="opacity: 1;"
        [prefabId]="chara.prefabId"
        [rarity]="chara.rarity"
        (clickStop)="toggleSelect(chara)"
      ></app-pcr-icon>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button color="accent" (clickStop)="reset()">重新选择</button>
    <app-loading-button [loading]="loading" (clickStop)="confirm(confirmType.server)">确定</app-loading-button>
  </mat-dialog-actions>
</div>
<mat-dialog-content>
  <div>
    <form class="form" [formGroup]="validateForm">
      <mat-form-field>
        <mat-label>服务器</mat-label>
        <mat-select formControlName="server">
          <mat-option *ngFor="let server of serverOption" [value]="server.value">
            {{ server.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>boss</mat-label>
        <mat-select formControlName="bossId" required>
          <mat-option *ngFor="let boss of dialogData.bossList" [value]="boss.id">
            <app-pcr-icon [prefabId]="boss.prefabId"></app-pcr-icon>
            <span>{{ boss.unitName }}</span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="isError('bossId')">选择BOSS</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>阶段</mat-label>
        <mat-select formControlName="stage">
          <mat-option *ngFor="let stage of stageOption" [value]="stage.value">
            {{ stage.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>伤害</mat-label>
        <input matInput formControlName="damage" type="number" />
        <span matSuffix>W</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>自动</mat-label>
        <mat-select formControlName="canAuto">
          <mat-option *ngFor="let auto of autoOption" [value]="auto.value">
            {{ auto.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>备注</mat-label>
        <textarea matInput style="width: 100%;" rows="5"></textarea>
      </mat-form-field>
    </form>
  </div>

  <mat-tab-group dynamicHeight>
    <mat-tab label="前卫">
      <div class="chara_box">
        <app-pcr-icon
          class="img"
          *ngFor="let chara of front; trackBy: trackByCharaFn"
          [class.selected]="isSeleted(chara)"
          (clickStop)="toggleSelect(chara)"
          [prefabId]="chara.prefabId"
          [rarity]="chara.rarity"
        ></app-pcr-icon>
      </div>
    </mat-tab>
    <mat-tab label="中卫">
      <div class="chara_box">
        <app-pcr-icon
          class="img"
          *ngFor="let chara of middle; trackBy: trackByCharaFn"
          [class.selected]="dialogData.task.charas?.includes(chara)"
          (clickStop)="toggleSelect(chara)"
          [rarity]="chara.rarity"
          [prefabId]="chara.prefabId"
        ></app-pcr-icon>
      </div>
    </mat-tab>
    <mat-tab label="后卫">
      <div class="chara_box">
        <app-pcr-icon
          class="img"
          *ngFor="let chara of back; trackBy: trackByCharaFn"
          [class.selected]="dialogData.task.charas?.includes(chara)"
          (clickStop)="toggleSelect(chara)"
          [prefabId]="chara.prefabId"
        ></app-pcr-icon>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
