<div mat-dialog-title style="display: flex;">
  <div style="flex-grow: 1;">
    <span>阵容</span>
    <div class="chara_box">
      <div *ngFor="let chara of selectCharas; trackBy: trackByCharaFn" style="width: 70px;">
        <app-pcr-icon
          class="img"
          style="opacity: 1;"
          [prefabId]="chara.prefabId"
          [rarity]="chara.rarity"
          (clickStop)="toggleSelect(chara)"
        ></app-pcr-icon>
        <app-rarity-select [maxRarity]="chara.maxRarity" [(ngModel)]="chara.rarity"></app-rarity-select>
        <mat-form-field style="width: 70px;">
          <mat-select [(ngModel)]="chara.rank">
            <mat-option *ngFor="let rank of rankOption" [value]="rank">
              {{ rank }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button color="accent" (clickStop)="reset()">重新选择</button>
    <app-loading-button [loading]="loading" (clickStop)="confirm(confirmType.server)">确定</app-loading-button>
  </mat-dialog-actions>
</div>
<mat-dialog-content>
  <div>
    <form class="form" [formGroup]="validateForm">
      <mat-form-field>
        <mat-label>服务器</mat-label>
        <mat-select formControlName="server">
          <mat-option *ngFor="let server of serverOption" [value]="server.value">
            {{ server.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>boss</mat-label>
        <mat-select formControlName="bossId" required>
          <mat-option *ngFor="let boss of dialogData.bossList" [value]="boss.id">
            <app-pcr-icon [prefabId]="boss.prefabId"></app-pcr-icon>
            <span>{{ boss.unitName }}</span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="isError('bossId')">选择BOSS</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>阶段</mat-label>
        <mat-select formControlName="stage">
          <mat-option *ngFor="let stage of stageOption" [value]="stage.value">
            {{ stage.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>伤害</mat-label>
        <input matInput formControlName="damage" type="number" />
        <span matSuffix>W</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>自动</mat-label>
        <mat-select formControlName="canAuto">
          <mat-option *ngFor="let auto of autoOption" [value]="auto.value">
            {{ auto.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div style="display: flex; align-items: center;">
        <span>链接: </span>
        <mat-icon color="primary" style="margin-right: 10px; cursor: pointer;" (clickStop)="toggleAddLink()">add</mat-icon>
        <span style="margin-right: 10px; color: -webkit-link;" *ngFor="let item of links; index as i">{{ item.name || '链接' + i }}</span>
      </div>

      <mat-form-field>
        <mat-label>备注</mat-label>
        <textarea formControlName="remarks" matInput style="width: 100%;" rows="5"></textarea>
      </mat-form-field>
    </form>
  </div>

  <mat-tab-group dynamicHeight>
    <mat-tab label="前卫">
      <div class="chara_box">
        <app-pcr-icon
          class="img"
          *ngFor="let chara of front; trackBy: trackByCharaFn"
          [class.selected]="isSelected(chara)"
          (clickStop)="toggleSelect(chara)"
          [prefabId]="chara.prefabId"
          [rarity]="chara.rarity"
        ></app-pcr-icon>
      </div>
    </mat-tab>
    <mat-tab label="中卫">
      <div class="chara_box">
        <app-pcr-icon
          class="img"
          *ngFor="let chara of middle; trackBy: trackByCharaFn"
          [class.selected]="isSelected(chara)"
          (clickStop)="toggleSelect(chara)"
          [rarity]="chara.rarity"
          [prefabId]="chara.prefabId"
        ></app-pcr-icon>
      </div>
    </mat-tab>
    <mat-tab label="后卫">
      <div class="chara_box">
        <app-pcr-icon
          class="img"
          *ngFor="let chara of back; trackBy: trackByCharaFn"
          [class.selected]="isSelected(chara)"
          (clickStop)="toggleSelect(chara)"
          [prefabId]="chara.prefabId"
        ></app-pcr-icon>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<ng-template #addLinks>
  <mat-dialog-content class="link">
    <div class="link-grid">
      <span>名称</span>
      <span>链接</span>
      <button mat-icon-button (clickStop)="addLink()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="link-grid" *ngFor="let item of links; index as i">
      <mat-form-field>
        <input matInput [(ngModel)]="item.name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="item.link" />
      </mat-form-field>
      <button mat-icon-button (clickStop)="removeLink(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-dialog-content>
</ng-template>
