@import '~src/theme.scss';

:host {
  width: 80vw;
  background: #fff;
}

.form {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  &_field {
    padding-bottom: 1.25em;
  }
}

.chara {
  &_box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .img {
      width: 40px;
      height: 40px;
      cursor: pointer;
      border: 1px solid transparent;
      opacity: 0.5;
      transition: opacity 0.2s linear;
    }
    .selected {
      border-color: $primary;
      opacity: 1;
    }
  }
}
