.scroll {
  max-width: 900px;
  margin: 0 auto 0;
  height: 100%;
  &-item {
    margin-bottom: 20px;
    border-bottom: 1px solid red;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    .remarks {
      height: 500px;
      overflow: auto;
    }
  }
}

@media (max-width: 576px) {
  .scroll-item {
    flex-direction: column;
    &-link {
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
    }
  }
}
