<div class="header">
  <button mat-button (clickStop)="toggleModal()">添加</button>
  <!-- <button mat-button (clickStop)="toggleAuto()">非手动</button> -->
  <mat-select [(ngModel)]="stage" style="width: 80px;">
    <mat-option *ngFor="let stage of stageOption" [value]="stage.value"> 阶段{{ stage.value }} </mat-option>
  </mat-select>
  <button mat-button (clickStop)="getGvgTaskList()">查询</button>
  <button mat-button (clickStop)="filter()">筛刀</button>
</div>

<div class="content">
  <mat-accordion multi style="width: 40%;">
    <mat-expansion-panel *ngFor="let boss of filterBossList; index as i; trackBy: trackByBossFn">
      <mat-expansion-panel-header>
        <mat-panel-title> <app-pcr-icon [prefabId]="boss.prefabId"></app-pcr-icon></mat-panel-title>
        <mat-panel-description>{{ boss.unitName }}</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let task of boss.tasks">
          <mat-expansion-panel-header (rightClick)="toggleModal(task, boss.id)">
            <mat-panel-title>
              <app-pcr-icon *ngFor="let chara of task.charas; trackBy: trackByCharaFn" [prefabId]="chara.prefabId"></app-pcr-icon>
            </mat-panel-title>
            <mat-panel-description style="align-items: center;">
              <span>{{ task.canAuto | canauto }} </span>
              <button mat-button color="primary" (clickStop)="task.isUsed = !task.isUsed">{{ task.isUsed ? '已使用' : '未使用' }}</button>
              <button mat-button color="warn" (clickStop)="task.disabeld = !task.disabeld">{{ task.disabeld ? '加入' : '去除' }}</button>
              <button mat-button color="accent" (clickStop)="delelteTask(boss, task)">删除</button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            {{ task.damage }}
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>

  <cdk-virtual-scroll-viewport itemSize="100" style="width: 60%;" class="scroll">
    <div *cdkVirtualFor="let bossTask of filterResult" class="scroll-item">
      <div *ngFor="let task of bossTask">
        <div>boss {{ task.bossId }} <app-pcr-icon [prefabId]="task.prefabId"></app-pcr-icon></div>
        <div [style.backgroundColor]="task.isUsed ? 'red' : ''">
          <app-pcr-icon *ngFor="let chara of task.charas" [prefabId]="chara.prefabId"></app-pcr-icon>
          <span>伤害{{ task.damage }}</span>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
