.content {
  height: calc(100vh - 156px);
  overflow-y: auto;
}

.scroll-item {
  margin-bottom: 20px;
  border-bottom: 1px solid red;
  display: flex;
  flex-shrink: 0;
  // width: 40%;
}

.chara-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: space-between;
  height: 42px;
}

.panner {
  &-header {
    display: flex;
  }
  &-description {
    align-items: center;
  }
}

// 适应手机
@media (max-width: 576px) {
  .panner {
    height: 96px;
    &-header {
      flex-direction: column;
    }
  }

  :host {
    ::ng-deep {
      .mat-expansion-panel-header {
        padding: 0 15px;
      }
      .mat-expansion-panel-body {
        padding: 0 15px 16px;
      }
    }
  }
}
