:host {
  // ::ng-deep .mat-expansion-panel-header {
  //   height: 96px;
  // }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  height: calc(100vh - 156px);
  overflow-y: auto;
}

.scroll-item {
  margin-bottom: 20px;
  border-bottom: 1px solid red;
  display: flex;
  flex-shrink: 0;
  // width: 40%;
}

.chara-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: space-between;
  height: 42px;
}
