<div class="g-card">
  <h3 class="g-card-title">服务器</h3>
  <div class="g-flex">
    <button
    *ngFor="let btn of btnList"
      nz-button
      class="g-btn"
      style="margin-right: 16px"
      (click)="jumpTo(btn.value)"
    >
      {{btn.label}}
    </button>
  </div>
</div>

<div class="g-card">
  <h3 class="g-card-title">说明</h3>
  <div>如果图片显示不出,可切换图源,其他更多说明查看帮助</div>
</div>



<div class="g-card">
  <h3 class="g-card-title">更新日志</h3>
  <div [innerHtml]="changelog | domSanitizer"></div>
</div>

