<div class="g-card">
  <h3 class="g-card-title">服务器</h3>
  <div class="g-flex">
    <button
      *ngFor="let btn of btnList"
      nz-button
      class="g-btn"
      style="margin-right: 16px"
      (click)="jumpTo(btn.value)"
    >
      {{ btn.label }}
    </button>
  </div>
</div>

<div class="g-card">
  <h3 class="g-card-title">说明</h3>
  <p>本站主要针对公主链接公会战作业</p>
  <div style="color: red; font-size: 20px">
    愿意维护作业以及提意见可加群809036333
  </div>
  <div *ngIf="showLink">
    有什么不明白的地方点击帮助查看说明,如果有bug或者优化建议联系我
    <p>
      可提<a href="https://github.com/pcrgvg/gvg_front/issues" target="_blank"
        >issue</a
      >
      或者
      <a href="https://bbs.nga.cn/read.php?tid=24307857&_fp=4" target="_blank"
        >nga</a
      >留言
    </p>
  </div>
</div>

<div class="g-card">
  <h3 class="g-card-title">APP</h3>
  <p>
    技术使用的flutter,由于没有苹果开发者账号,所以打不了ios的包(需要好心IOS大佬打包),目前版本可能有bug,可提
    <a href="https://github.com/pcrgvg/pcrgvg_flutter/issues" target="_blank"
      >issue
    </a>
  </p>
  <p>
    <a href="https://github.com/pcrgvg/pcrgvg_flutter" target="_blank"
      >项目地址
    </a>
    <a
      style="margin:0 16px"
      href="https://pcr-app.oss-cn-shanghai.aliyuncs.com/app-release.apk"
      target="_blank"
      >安卓下载
    </a>
  </p>
</div>

<div class="g-card">
  <h3 class="g-card-title">更新日志</h3>
  <div>2021年9月:视频添加备注/文字轴,可选择固定借用角色</div>
  <div>2021年8月:添加台服支持</div>
  <div>
    2021年6月:更新国服作业数据获取,数据来源花舞攻略组的在线作业文档,方法来自分刀APP炽旗
  </div>
  <div>增加筛选已使用,去除,尾刀(不参与分刀)</div>
  <div>
    合并自动/手动,如果筛选时作业方式包含手动则显示手动伤害,不包含手动显示自动伤害,分刀排序的时候同理,自动伤害可能不准确
  </div>

</div>
