* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Microsoft YaHei;
  user-select: none;
}

ul,
ol {
  list-style: none;
}

@mixin flex {
  display: flex;
  align-items: center;
}
/// 全局公用样式
.g {
  &-flex {
    @include flex();
    &-between {
      @include flex();
      justify-content: space-between;
    }
    &-column {
      @include flex();
      flex-direction: column;
    }
    &-center {
      @include flex();
      justify-content: center;
    }
  }

}
