/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.min.css"; /* 引入基本样式 */
@import "~ng-zorro-antd/button/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/checkbox/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/input/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/collapse/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/select/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/form/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/modal/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/tabs/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/input-number/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/notification/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/icon/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/tooltip/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/popconfirm/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/spin/style/index.min.css"; /* 引入组件样式 */

@import "./normal.scss";
@import "./variables.scss";

html,
body {
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: underline;
}

@mixin btn {
  border-radius: 6px;
  text-align: center;
  padding: 0 18px;
  height: 28px;
  line-height: 28px;
  background: rgba(255, 255, 255, 0.5);
}

.g {
  &-card {
    background: rgba(255, 255, 255, 0.8);
    border: 3px solid var(--primary);
    border-radius: 20px;
    padding: 20px;
    &-title {
      color: var(--primary);
      font-weight: bold;
      font-size: 18px;
    }
  }



  &-btn {
    @include btn();
    border: 1px solid rgba(100, 184, 255, 0.5);
    color: #68BAFF;
    &-danger {
      @include btn();
      color: #f55291;
      border-color: #f55291;
    }
  }
}

.ant {
  &-select-arrow {
    top: 0;
    margin-top: 0;
    right: 0;
  }
  &-modal{
    &-content {
      border: 3px solid var(--primary);
      border-radius: 20px;
      padding: 20px;
    }
    &-body{
      padding: 0;
    }
  }

  &-tabs-tab {
    color: var(--primary);
    font-size: 16px;
    position: relative;
    &.ant-tabs-tab-active {
      &::before {
        display: block;
        content: '';
        width: 16px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: url('~assets/images/tab_active.png');
      }
      .ant-tabs-tab-btn {
        color: #F55291;
      }
    }
  }
  &-tabs-ink-bar {
    background: transparent;
  }

  &-input,
  &-input-affix-wrapper,
  &-input-number {
    border-color: rgba(100, 184, 255, 0.5);
    border-radius: 6px;
  }

  &-popover-inner {
    box-shadow: 0 0 2px 2px var(--primary);
  }
  &-popover-buttons {
   
    .ant-btn-sm{
      @include btn();
      color: #f55291;
      border-color: #f55291;
    }
    .ant-btn-primary {
      @include btn();
      border: 1px solid rgba(100, 184, 255, 0.5);
      color: #68BAFF;
    }
  }

  &-tooltip {
    max-width: none;
  }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: rgba(100, 184, 255, 0.5);
  border-radius: 6px;
}

