<div class="g-card" *ngIf="links.length">
  <nz-tabset>
    <nz-tab [nzTitle]="titleTpl" *ngFor="let linkObj of sortLink(links)">
      <ng-template #titleTpl>
        <pre style="text-align: center; white-space: pre" [style.color]="isSetTop(linkObj) ? '#1cbbb4' : ''">{{
          linkObj.name
        }}</pre>
      </ng-template>
      <div class="g-flex" style="justify-content: flex-end">
        <button nz-button (click)="setTop(linkObj)" nzType="primary">
          <i nz-icon nzType="vertical-align-top" nzTheme="outline"></i>
          {{ isSetTop(linkObj) ? '取消置顶' : '置顶' }}
        </button>
      </div>
      <div *ngIf="linkObj.link">
        {{ gvgPage.videoLink }}:
        <a target="_blank" [href]="linkObj.link">
          <pre>{{ linkObj.name }}</pre>
        </a>
      </div>
      <div *ngIf="linkObj.remarks">
        <h6>{{ commonPage.remark }}:</h6>
        <pre>{{ linkObj.remarks }}</pre>
      </div>
    </nz-tab>
  </nz-tabset>

  <!-- <ng-template #elseLInkTpe>无视频连接</ng-template> -->
</div>
